{% extends 'base.html' %}
{% block main %}
{% load static %}
    <!-- Page Banner Section Start -->
    <div class="page-banner-section section bg-gray">
        <div class="container">
            <div class="row">
                <div class="page-banner-content text-center col">
                    <h2></h2>
                    <ul class="breadcrumb justify-content-center">

                        <li><a href="index.html">ГОЛОВНА</a></li>
                        <li><a href="shop-left-sidebar.html">КАТАЛОГ</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>


    <!-- Page Banner Section End -->

    <!-- Product Section Start -->
    <div class="product-section section bg-white mt-100 mb-60 mt-xs-70 mb-xs-30">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-12 order-1 order-lg-2 mb-40">
                    <div class="row">

                        {% for product in products  %}
                        <div class="col-xl-4 col-md-6 col-12 mb-30">

                            <div class="product-item bg-gray">
                                <div class="product-inner">

                                    <div class="image-wrap">
                                        <a href="{% url 'product' product.slug %}" class="image"><img
                                                src="{{ product.images.all.0.image.url }}" alt="{{ product.title }}"></a>

                                    </div>

                                    <div class="content text-center">

                                        <h4 class="title"><a href="{% url 'product' product.slug %}">{{ product.title }}</a></h4>
                                        <h5 class="title"><a href="{% url 'product' product.slug %}">{{ product.brand.name }}</a></h5>
                                        <div class="price">
                                            <del class="price-old"></del>
                                            <span class="price-sale">{{ product.price }} ₴</span>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                        {% endfor %}
                    </div>

                <!-- Pagination block           -->
                {% include 'pagination.html' %}
                <!-- End pagination block           -->

                </div>

                <div class="col-lg-3 col-12 order-2 order-lg-1">
<!--                    <div class="sidebar">-->
<!--                        <h3 class="title">КАТЕГОРІЇ</h3>-->
<!--                        <ul class="sidebar-list">-->
<!--                            <li><a href="shop-left-sidebar.html#">Shart <span class="num">18</span></a></li>-->
<!--                            <li><a href="shop-left-sidebar.html#">Pants <span class="num">09</span></a></li>-->
<!--                            <li><a href="shop-left-sidebar.html#">T-Shart <span class="num">05</span></a></li>-->
<!--                            <li><a href="shop-left-sidebar.html#">Tops <span class="num">03</span></a></li>-->
<!--                            <li><a href="shop-left-sidebar.html#">Kid's Clothes <span class="num">15</span></a></li>-->
<!--                            <li><a href="shop-left-sidebar.html#">Watch <span class="num">07</span></a></li>-->
<!--                            <li><a href="shop-left-sidebar.html#">Accessories <span class="num">02</span></a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
                    <div class="sidebar">
                        <h3 class="title">ВИРОБНИК</h3>
                        <ul class="sidebar-list">
                            {% for brand in brands %}
                                <li><a href="{{request.path}}?brand={{ brand.name }}">{{ brand.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="sidebar">
                        <h3 class="title">РОЗМІР</h3>
                        <ul class="sidebar-tag">
                            {% for size in sizes %}
                            <li><a href="{{request.path}}?size={{ size.name }}">{{ size.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="sidebar">
                        <h3 class="title">КОЛІР</h3>
                        <ul class="sidebar-list">
                            {% for color in colors %}
                            <li><a href="{{request.path}}?color={{ color.name }}">
                                <span class="color" style="background-color: {{ color.name }}"></span> </a></li>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>


<!--                    <div class="sidebar">-->
<!--                        <h3 class="title">Popular Product</h3>-->

<!--                        <div class="sidebar-product-wrap">-->
<!--                            <div class="sidebar-product">-->
<!--                                <a href="single-product.html" class="image"><img-->
<!--                                        src="assets/images/product/product-1.png" alt=""></a>-->
<!--                                <div class="content">-->
<!--                                    <a href="single-product.html" class="title">Injected humour</a>-->
<!--                                    <span class="price">$799.99</span>-->
<!--                                    <div class="ratting">-->
<!--                                        <i class="fa fa-star"></i>-->
<!--                                        <i class="fa fa-star"></i>-->
<!--                                        <i class="fa fa-star"></i>-->
<!--                                        <i class="fa fa-star"></i>-->
<!--                                        <i class="fa fa-star-half-o"></i>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="sidebar-product">-->
<!--                                <a href="single-product.html" class="image"><img-->
<!--                                        src="assets/images/product/product-2.png" alt=""></a>-->
<!--                                <div class="content">-->
<!--                                    <a href="single-product.html" class="title">Classical literature</a>-->
<!--                                    <span class="price">$599.99 <span class="old">$799.99</span></span>-->
<!--                                    <div class="ratting">-->
<!--                                        <i class="fa fa-star"></i>-->
<!--                                        <i class="fa fa-star"></i>-->
<!--                                        <i class="fa fa-star"></i>-->
<!--                                        <i class="fa fa-star"></i>-->
<!--                                        <i class="fa fa-star-half-o"></i>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="sidebar-product">-->
<!--                                <a href="single-product.html" class="image"><img-->
<!--                                        src="assets/images/product/product-3.png" alt=""></a>-->
<!--                                <div class="content">-->
<!--                                    <a href="single-product.html" class="title">Classical literature</a>-->
<!--                                    <span class="price">$649.99 <span class="old">$799.99</span></span>-->
<!--                                    <div class="ratting">-->
<!--                                        <i class="fa fa-star"></i>-->
<!--                                        <i class="fa fa-star"></i>-->
<!--                                        <i class="fa fa-star"></i>-->
<!--                                        <i class="fa fa-star"></i>-->
<!--                                        <i class="fa fa-star-half-o"></i>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->

<!--                    <div class="sidebar">-->
<!--                        <h3 class="title">Price</h3>-->

<!--                        <div class="sidebar-price">-->
<!--                            <div id="price-range"></div>-->
<!--                            <input type="text" id="price-amount" min="0" max="{{ max_price|floatformat:0}}" >-->
<!--                            <output>{{ average_price|floatformat:2}}</output>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>

            </div>

        </div>
    </div>
    <!-- Product Section End -->
    {% endblock main %}