{% extends 'base.html' %}
{% block main %}
{% load static %}
    <!-- Page Banner Section Start -->
    <div class="page-banner-section section bg-gray">
        <div class="container">
            <div class="row">
                <div class="page-banner-content text-center col">
                    <h1>Shop Full Width</h1>
                    <ul class="breadcrumb justify-content-center">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="shop-left-sidebar.html">Shop Full Width</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Banner Section End -->

    <!-- Product Section Start -->
    <div class="product-section section bg-white mt-100 mb-60 mt-xs-70 mb-xs-30">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-6 col-12 mb-30">
                    <div class="product-item bg-gray">
                        <div class="product-inner">

                            <div class="image-wrap">
                                <a href="" class="image"><img
                                        src="{% static 'images/product/product_0.jpg' %}" alt=""></a>
                                <a href="shop-full-width.html#" class="wishlist"><img src="{% static '/images/icons/heart.png' %}"
                                                                  alt="Wishlist"></a>
                                <div class="actions">
                                    <a href="shop-full-width.html#"><i class="fa fa-shopping-cart"></i></a>
                                    <a href="shop-full-width.html#"><i class="fa fa-eye"></i></a>
                                    <a href="shop-full-width.html#"><i class="fa fa-refresh"></i></a>
                                </div>
                            </div>

                            <div class="content text-center">

                                <h4 class="title"><a href="single-product.html">Ceramic Armor 6 class</a></h4>
                                <div class="price">
                                    <del class="price-old">19000₴</del>
                                    <span class="price-sale">17000₴</span>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

                <div class="col-xl-4 col-md-6 col-12 mb-30">

                    <div class="product-item bg-gray">
                        <div class="product-inner">

                            <div class="image-wrap">
                                <a href="single-product.html" class="image"><img
                                        src="{% static '/images/product/product-2.png' %}" alt=""></a>
                                <a href="shop-full-width.html#" class="wishlist"><img src="static/images/icons/heart.png"
                                                                  alt="Wishlist"></a>
                                <div class="actions">
                                    <a href="shop-full-width.html#"><i class="fa fa-shopping-cart"></i></a>
                                    <a href="shop-full-width.html#"><i class="fa fa-eye"></i></a>
                                    <a href="shop-full-width.html#"><i class="fa fa-refresh"></i></a>
                                </div>
                            </div>

                            <div class="content text-center">

                                <h4 class="title"><a href="single-product.html">Classical literature</a></h4>
                                <div class="price">
                                    <del class="price-old">$222</del>
                                    <span class="price-sale">$137</span>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

                <div class="col-xl-4 col-md-6 col-12 mb-30">

                    <div class="product-item bg-gray">
                        <div class="product-inner">

                            <div class="image-wrap">
                                <a href="single-product.html" class="image"><img
                                        src="{% static '/images/product/product-3.png' %}" alt=""></a>
                                <a href="shop-full-width.html#" class="wishlist"><img src="{% static 'images/icons/heart.png'}"
                                                                  alt="Wishlist"></a>
                                <div class="actions">
                                    <a href="shop-full-width.html#"><i class="fa fa-shopping-cart"></i></a>
                                    <a href="shop-full-width.html#"><i class="fa fa-eye"></i></a>
                                    <a href="shop-full-width.html#"><i class="fa fa-refresh"></i></a>
                                </div>
                            </div>

                            <div class="content text-center">

                                <h4 class="title"><a href="single-product.html">Classical literature</a></h4>
                                <div class="price">
                                    <del class="price-old">$111</del>
                                    <span class="price-sale">$98</span>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

                <div class="col-xl-4 col-md-6 col-12 mb-30">

                    <div class="product-item bg-gray">
                        <div class="product-inner">

                            <div class="image-wrap">
                                <a href="single-product.html" class="image"><img
                                        src="{% static '/images/product/product-4.png' %}" alt=""></a>
                                <a href="shop-full-width.html#" class="wishlist"><img src="static/images/icons/heart.png"
                                                                  alt="Wishlist"></a>
                                <div class="actions">
                                    <a href="shop-full-width.html#"><i class="fa fa-shopping-cart"></i></a>
                                    <a href="shop-full-width.html#"><i class="fa fa-eye"></i></a>
                                    <a href="shop-full-width.html#"><i class="fa fa-refresh"></i></a>
                                </div>
                            </div>

                            <div class="content text-center">

                                <h4 class="title"><a href="single-product.html">Classical literature</a></h4>
                                <div class="price">
                                    <del class="price-old">$456</del>
                                    <span class="price-sale">$245</span>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

                <div class="col-xl-4 col-md-6 col-12 mb-30">

                    <div class="product-item bg-gray">
                        <div class="product-inner">

                            <div class="image-wrap">
                                <a href="single-product.html" class="image"><img
                                        src="assets/images/product/product-5.png" alt=""></a>
                                <a href="shop-full-width.html#" class="wishlist"><img src="static/images/icons/heart.png"
                                                                  alt="Wishlist"></a>
                                <div class="actions">
                                    <a href="shop-full-width.html#"><i class="fa fa-shopping-cart"></i></a>
                                    <a href="shop-full-width.html#"><i class="fa fa-eye"></i></a>
                                    <a href="shop-full-width.html#"><i class="fa fa-refresh"></i></a>
                                </div>
                            </div>

                            <div class="content text-center">

                                <h4 class="title"><a href="single-product.html">Injected humour</a></h4>
                                <div class="price">
                                    <del class="price-old">$888</del>
                                    <span class="price-sale">$677</span>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

                <div class="col-xl-4 col-md-6 col-12 mb-30">

                    <div class="product-item bg-gray">
                        <div class="product-inner">

                            <div class="image-wrap">
                                <a href="single-product.html" class="image"><img
                                        src="assets/images/product/product-2.png" alt=""></a>
                                <a href="shop-full-width.html#" class="wishlist"><img src="static/images/icons/heart.png"
                                                                  alt="Wishlist"></a>
                                <div class="actions">
                                    <a href="shop-full-width.html#"><i class="fa fa-shopping-cart"></i></a>
                                    <a href="shop-full-width.html#"><i class="fa fa-eye"></i></a>
                                    <a href="shop-full-width.html#"><i class="fa fa-refresh"></i></a>
                                </div>
                            </div>

                            <div class="content text-center">

                                <h4 class="title"><a href="single-product.html">Classical literature</a></h4>
                                <div class="price">
                                    <del class="price-old">$888</del>
                                    <span class="price-sale">$677</span>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

                <div class="col-xl-4 col-md-6 col-12 mb-30">

                    <div class="product-item bg-gray">
                        <div class="product-inner">

                            <div class="image-wrap">
                                <a href="single-product.html" class="image"><img
                                        src="assets/images/product/product-3.png" alt=""></a>
                                <a href="shop-full-width.html#" class="wishlist"><img src="static/images/icons/heart.png"
                                                                  alt="Wishlist"></a>
                                <div class="actions">
                                    <a href="shop-full-width.html#"><i class="fa fa-shopping-cart"></i></a>
                                    <a href="shop-full-width.html#"><i class="fa fa-eye"></i></a>
                                    <a href="shop-full-width.html#"><i class="fa fa-refresh"></i></a>
                                </div>
                            </div>

                            <div class="content text-center">

                                <h4 class="title"><a href="single-product.html">Classical literature</a></h4>
                                <div class="price">
                                    <del class="price-old">$345</del>
                                    <span class="price-sale">$309</span>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

                <div class="col-xl-4 col-md-6 col-12 mb-30">

                    <div class="product-item bg-gray">
                        <div class="product-inner">

                            <div class="image-wrap">
                                <a href="single-product.html" class="image"><img
                                        src="assets/images/product/product-6.png" alt=""></a>
                                <a href="shop-full-width.html#" class="wishlist"><img src="static/images/icons/heart.png"
                                                                  alt="Wishlist"></a>
                                <div class="actions">
                                    <a href="shop-full-width.html#"><i class="fa fa-shopping-cart"></i></a>
                                    <a href="shop-full-width.html#"><i class="fa fa-eye"></i></a>
                                    <a href="shop-full-width.html#"><i class="fa fa-refresh"></i></a>
                                </div>
                            </div>

                            <div class="content text-center">

                                <h4 class="title"><a href="single-product.html">Classical literature</a></h4>
                                <div class="price">
                                    <del class="price-old">$234</del>
                                    <span class="price-sale">$220</span>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

                <div class="col-xl-4 col-md-6 col-12 mb-30">

                    <div class="product-item bg-gray">
                        <div class="product-inner">

                            <div class="image-wrap">
                                <a href="single-product.html" class="image"><img
                                        src="assets/images/product/product-1.png" alt=""></a>
                                <a href="shop-full-width.html#" class="wishlist"><img src="static/images/icons/heart.png"
                                                                  alt="Wishlist"></a>
                                <div class="actions">
                                    <a href="shop-full-width.html#"><i class="fa fa-shopping-cart"></i></a>
                                    <a href="shop-full-width.html#"><i class="fa fa-eye"></i></a>
                                    <a href="shop-full-width.html#"><i class="fa fa-refresh"></i></a>
                                </div>
                            </div>

                            <div class="content text-center">

                                <h4 class="title"><a href="single-product.html">Injected humour</a></h4>
                                <div class="price">
                                    <del class="price-old">$888</del>
                                    <span class="price-sale">$677</span>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

            </div>
            <div class="page-pagination mb-40 mt-20">
                <ul>
                    <li><a href="shop-full-width.html#"><i class="fa fa-angle-left"></i></a></li>
                    <li class="active"><a href="shop-full-width.html#">1</a></li>
                    <li><a href="shop-full-width.html#">2</a></li>
                    <li><a href="shop-full-width.html#">3</a></li>
                    <li><a href="shop-full-width.html#"><i class="fa fa-angle-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Product Section End -->
{% endblock main %}