{% extends 'base.html' %}
{% block main %}
{% load static %}
    <!-- Page Banner Section Start -->
<!--    <div class="page-banner-section section bg-gray">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="page-banner-content text-center col">-->
<!--                    <h1>Shop Full Width</h1>-->
<!--                    <ul class="breadcrumb justify-content-center">-->
<!--                        <li><a href="index.html">Home</a></li>-->
<!--                        <li><a href="shop-left-sidebar.html">Shop Full Width</a></li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <!-- Page Banner Section End -->

    <!-- Product Section Start -->
    <div class="product-section section bg-white mt-100 mb-60 mt-xs-70 mb-xs-30">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-6 col-12 mb-30">
                    <div class="product-item bg-gray">
                        <div class="product-inner">

                            <div class="image-wrap">
                                        <a href="/catalogue/aksessuary" class="image"><img
                                                src="{% static 'images/category/acessories.png' %}" alt=""></a>
                                    </div>

                            <div class="content text-center">
                                <h4 class="title"><a href="/catalogue/aksessuary">АКСЕССУАРИ</a></h4>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="col-xl-4 col-md-6 col-12 mb-30">

                    <div class="product-item bg-gray">
                        <div class="product-inner">


                            <div class="image-wrap">
                                        <a href="/catalogue/broneplyty" class="image"><img
                                                src="{% static 'images/category/plate.png' %}" alt=""></a>
                                    </div>

                            <div class="content text-center">

                                <h4 class="title"><a href="/catalogue/broneplyty">БРОНЕПЛИТИ</a></h4>

                            </div>

                        </div>
                    </div>

                </div>

                <div class="col-xl-4 col-md-6 col-12 mb-30">

                    <div class="product-item bg-gray">
                        <div class="product-inner">

                            <div class="image-wrap">
                                        <a href="/catalogue/burzhujki" class="image"><img
                                                src="{% static 'images/category/burj.png' %}" alt=""></a>
                                    </div>

                            <div class="content text-center">

                                <h4 class="title"><a href="/catalogue/burzhujki">БУРЖУЙКИ</a></h4>

                            </div>

                        </div>
                    </div>

                </div>

                <div class="col-xl-4 col-md-6 col-12 mb-30">

                    <div class="product-item bg-gray">
                        <div class="product-inner">

                            <div class="image-wrap">
                                        <a href="/catalogue/fonari-prozhektory-takticheskie" class="image"><img
                                                src="{% static 'images/category/light.png' %}" alt=""></a>
                                    </div>

                            <div class="content text-center">

                                <h4 class="title"><a href="/catalogue/fonari-prozhektory-takticheskie">ЛІХТАРІ ТАКТИЧНІ ПРОЖЕКТИРИ</a></h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-md-6 col-12 mb-30">
                    <div class="product-item bg-gray">
                        <div class="product-inner">

                            <div class="image-wrap">
                                        <a href="/catalogue/meditsinskoe-snaryazhenie" class="image"><img
                                                src="{% static 'images/category/med.png' %}" alt=""></a>
                                    </div>

                            <div class="content text-center">
                                <h4 class="title"><a href="/catalogue/meditsinskoe-snaryazhenie">МЕДИЧНЕ СПОРЯДЖЕННЯ</a></h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-md-6 col-12 mb-30">
                    <div class="product-item bg-gray">
                        <div class="product-inner">

                            <div class="image-wrap">
                                        <a href="/catalogue/nozhi" class="image"><img
                                                src="{% static 'images/category/knife.png' %}" alt=""></a>
                                    </div>

                            <div class="content text-center">
                                <h4 class="title"><a href="/catalogue/nozhi">НОЖІ</a></h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-md-6 col-12 mb-30">
                    <div class="product-item bg-gray">
                        <div class="product-inner">

                            <div class="image-wrap">
                                        <a href="/catalogue/odezhda-obuv" class="image"><img
                                                src="{% static 'images/category/boots.png' %}" alt=""></a>
                                    </div>

                            <div class="content text-center">
                                <h4 class="title"><a href="/catalogue/odezhda-obuv">ОДЯГ ТА ВЗУТТЯ</a></h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-md-6 col-12 mb-30">
                    <div class="product-item bg-gray">
                        <div class="product-inner">

                            <div class="image-wrap">
                                        <a href="/catalogue/plytonosky" class="image"><img
                                                src="{% static 'images/category/plyta.png' %}" alt=""></a>
                                    </div>

                            <div class="content text-center">
                                <h4 class="title"><a href="/catalogue/plytonosky">ПЛИТОНОСКИ</a></h4>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-xl-4 col-md-6 col-12 mb-30">
                    <div class="product-item bg-gray">
                        <div class="product-inner">

                            <div class="image-wrap">
                                        <a href="/catalogue/protyvogazy" class="image"><img
                                                src="{% static 'images/category/prot.png' %}" alt=""></a>
                                    </div>

                            <div class="content text-center">
                                <h4 class="title"><a href="/catalogue/protyvogazy">ПРОТИГАЗИ</a></h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-md-6 col-12 mb-30">
                    <div class="product-item bg-gray">
                        <div class="product-inner">

                            <div class="image-wrap">
                                        <a href="/catalogue/topory-lopaty-multituly" class="image"><img
                                                src="{% static 'images/category/topor.png' %}" alt=""></a>
                                    </div>

                            <div class="content text-center">
                                <h4 class="title"><a href="/catalogue/topory-lopaty-multituly">CОКИРИ ЛОПАТИ МУЛЬТИТУЛИ</a></h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-md-6 col-12 mb-30">
                    <div class="product-item bg-gray">
                        <div class="product-inner">

                            <div class="image-wrap">
                                        <a href="/catalogue/flyagi-termosy-emkosti" class="image"><img
                                                src="{% static 'images/category/termos.png' %}" alt=""></a>
                                    </div>

                            <div class="content text-center">
                                <h4 class="title"><a href="/catalogue/flyagi-termosy-emkosti">ФЛЯГИ ТЕРМОСИ ЄМНОСТІ</a></h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-md-6 col-12 mb-30">
                    <div class="product-item bg-gray">
                        <div class="product-inner">

                            <div class="image-wrap">
                                        <a href="/catalogue/sholomy_ta_golovni_ybory" class="image"><img
                                                src="{% static 'images/category/helmet.png' %}" alt=""></a>
                                    </div>

                            <div class="content text-center">
                                <h4 class="title"><a href="/catalogue/sholomy_ta_golovni_ybory">ШОЛОМИ ТА ГОЛОВНІ УБОРИ</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Product Section End -->
    {% endblock main %}